<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tone Analyzer</title>
</head>
<body>
    <h1>Text Emotion and Stress Predictor</h1>
    <p>Please Enter the Message for Predict Emotion</p>

    <form action="http://127.0.0.1:5000/predict" method="post">
        <p>Message <input type="text" name="message"> </p>

        <p><input type="submit" value="Submit Details"/></p>
    </form>

    <h1>Predicted Emotion</h1>
    <p>{{prediction}}</p>
</body>
</html>